.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  /* loader */
  .container{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .loader{
    width: 100px;
    height: 100px;
    position: relative;
    
  }
  .loader::before,
  .loader::after {
    content: '';
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    mix-blend-mode: multiply;
    animation: rotate 1s infinite cubic-bezier(0.77, 0, 0.175, 1);
  }
  .loader::before {
    background-color: #fc3f9e;
  }
  .loader::after {
    background-color: #50e8f3;
    animation-delay: .5s;
  }
  @keyframes rotate {
    0%,
    100% {
      left: 95px;
    }
    25% {
      transform: scale(.3);
    }
    50% {
      left: 0;
    }
    75% {
      transform: scale(1);
    }
  }
  